@import url('./reset.css');

.background-img {
  width: 90%;
  min-width: 500px;
  background-size: cover;
  background-image: url('./../background-image.jpg');
  color: white;
  padding: 50px;
  margin: 100px auto;
}

.quote-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  gap: 80px;
  border: 2px solid black;
}

.quote-text {
  font-size: 3rem;
}

.author-text {
  font-size: 1rem;
}

@media screen and (width >= 700px) {
  .quote-container {
    gap: 100px;
  }
  
  .background-img {
    width: 80%;
  }

  .quote-text {
    font-size: 4rem;
  }

  .author-text {
    font-size: 1.5rem;
  }
}