@import url('./reset.css');

.background-img {
  width: 800px;
  background-image: url('./../background-image.jpg');
  color: white;
  padding: 50px;
  margin: 100px auto;
}

.quote-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  border: 2px solid black;
}

.quote-text {
  font-size: 4rem;
}

.author-text {
  font-size: 1.5rem;
}